{% extends 'create_exam/base.html' %}

{% block take_a_demo_exam %}
    active
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-3 order-md-1 mb-4">
                <div class="list-group text-center">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Create Exam
                    </a>
                    <div class="d-flex justify-content-between">

                    </div>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-start flex-start">
                            <i class="bi bi-calendar4-range"></i>
                            <div style="padding-left: 10px"></div>
                            <p>Running</p>
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-start flex-start">
                            <i class="bi bi-skip-forward-circle-fill"></i>
                            <div style="padding-left: 10px"></div>
                            <p>Upcoming</p>
                        </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-start flex-start">
                            <i class="bi bi-check-circle-fill"></i>
                            <div style="padding-left: 10px"></div>
                            <p>Completed</p>
                        </div>
                    </a>


                </div>
            </div>
            <div class="col-md-9 order-md-2">
                {% for exam in exam_list %}
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <a href="{% url 'view' exam.id %}"><h5 style="color: #7b666d">{{ exam.name }}</h5></a>
                            <ul style="color: slategrey">
                                <li>Number of questions: {{ exam.examquestion_set.all.count }}</li>
                                <li>Total time: {{ exam.duration }}</li>
                            </ul>
                        </div>
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm p-1 dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'preview-one-by-one' exam.id %}">P One by One</a></li>
                                    <li><a class="dropdown-item" href="{% url 'preview-demo' exam.id %}">Preview</a></li>
                                    <li><a class="dropdown-item" href="#">Statistics</a></li>
                                    <li><a class="dropdown-item" href="#">Exam</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Notify Results</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

