{% extends 'create_exam/base.html' %}

{% block take_a_demo_exam %}
active
{% endblock %}

{% block style %}
.exam-link {
    text-decoration: none;
}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-3 order-md-1 mb-3">
            <div class="list-group text-center">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Create Exam
                </a>
                <div class="d-flex justify-content-between">

                </div>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-start flex-start">
                        <i class="bi bi-calendar4-range"></i>
                        <div style="padding-left: 10px"></div>
                        <p>Running</p>
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-start flex-start">
                        <i class="bi bi-skip-forward-circle-fill"></i>
                        <div style="padding-left: 10px"></div>
                        <p>Upcoming</p>
                    </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-start flex-start">
                        <i class="bi bi-check-circle-fill"></i>
                        <div style="padding-left: 10px"></div>
                        <p>Completed</p>
                    </div>
                </a>


            </div>
        </div>
        <div class="col-md-8 order-md-2">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Exam Name</th>
                    <th scope="col">Length</th>
                    <th scope="col">No. of questions</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for exam in exam_list %}
                <tr>
                    <td>
                        <a class="exam-link" href="{% url 'view' exam.id %}">{{ exam.name }}</a>
                    </td>
                    <td>{{ exam.duration }}</td>
                    <td>{{ exam.examquestion_set.all.count }}</td>
                    <td>
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm p-1 dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'preview-one-by-one' exam.id %}">P One by One</a></li>
<!--                                    <li><a class="dropdown-item" href="{% url 'preview-demo' exam.id %}">Preview</a></li>-->
                                    <li><a class="dropdown-item" href="#">Statistics</a></li>
                                    <li><a class="dropdown-item" href="#">Exam</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Notify Results</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% for exam in exam_list %}
                <tr>
                    <td>
                        <a class="exam-link" href="{% url 'view' exam.id %}">{{ exam.name }}</a>
                    </td>
                    <td>{{ exam.duration }}</td>
                    <td>{{ exam.examquestion_set.all.count }}</td>
                    <td>
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm p-1 dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'preview-one-by-one' exam.id %}">P One by One</a></li>
<!--                                    <li><a class="dropdown-item" href="{% url 'preview-demo' exam.id %}">Preview</a></li>-->
                                    <li><a class="dropdown-item" href="#">Statistics</a></li>
                                    <li><a class="dropdown-item" href="#">Exam</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Notify Results</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% for exam in exam_list %}
                <tr>
                    <td>
                        <a class="exam-link" href="{% url 'view' exam.id %}">{{ exam.name }}</a>
                    </td>
                    <td>{{ exam.duration }}</td>
                    <td>{{ exam.examquestion_set.all.count }}</td>
                    <td>
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm p-1 dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'preview-one-by-one' exam.id %}">P One by One</a></li>
<!--                                    <li><a class="dropdown-item" href="{% url 'preview-demo' exam.id %}">Preview</a></li>-->
                                    <li><a class="dropdown-item" href="#">Statistics</a></li>
                                    <li><a class="dropdown-item" href="#">Exam</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Notify Results</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}

