{% extends 'create_exam/base.html' %}
{% load static %}
{% load shuffle %}

{% block title %}
    {{ id }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'create_exam/home.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'create_exam/exam_live.js' %}"></script>
{% endblock %}

{% block timefield %}
{% endblock %}

{% block style %}
    selected-option {
    }
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-3 order-md-1 mb-4">
            </div>
            <div class="col-md-9 order-md-2">
                <div>
                    <div class="btn-group">
                        <button type="button" class="mb-3 ms-auto btn btn-outline-primary btn-sm p-1 dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'preview-one-by-one' exam.id %}">Preview</a>
                            <li><a class="dropdown-item" href="{% url 'delete-all-questions' exam.id %}">Delete all</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'upload-questions-in-bulk' exam.id %}">Upload
                                questions in bulk</a></li>
                        </ul>
                    </div>
                </div>
                {% if questions.count == 0 %}
                    <p>Currently there are no questions. Select an option to add options.</p>
            {% endif %}

                {% for question in questions %}
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <a><p style="color: #7b666d"><span
                                    style="color: darkgrey; padding-right: 4px">{{ forloop.counter }}.</span>{{ question.question }}
                            </p></a>
                            <ul style="color: slategrey">

                                {% for option in question.questionoption_set.all|shuffle %}
                                    <div class="form-check">
                                        <input class="form-check-input"
                                            {% if option.correctness == True %}
                                               checked
                                            {% else %}
                                               disabled
                                            {% endif %}
                                           type="radio" name="{{ option.question_id }}"
                                           id="{{ option.question_id }}">
                                        <label class="form-check-label" for="{{ option.question_id }}">
                                            {{ option.option }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}