{% block credentials %}
<hr/>
<div class="p-3">

<h6>Demo Username/Password</h6>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Account Type</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Admin`</th>
      <td>vbahug</td>
      <td>Hello@123</td>
    </tr>
    <tr>
      <th scope="row">Student</th>
      <td>vikas</td>
      <td>Hello@123</td>
    </tr>
    
  </tbody>
</table>
</div>
{% endblock %}