html {
    /*overflow-y: hidden;*/
}

.questionTile {
    padding: 12px;
    background-color: rgba(188,205,184,0.09);
}

.tileBox {
    height: 100%;
    max-height: 400px;
    overflow: scroll;
    min-height: 400px;
    min-width: 100%;
}