html {
    /*overflow-y: hidden;*/
}

.question-tile {
    padding: 122px;
    background-color: rgba(188,205,184,0.09);
}

.tileBox {
    margin: 10px;
    height: 100%;
    max-height: 400px;
    overflow: scroll;
    min-height: 400px;
    min-width: 100%;
}