<script type="application/javascript">

    function markSelected(questionId) { // visited & attempted
        let markForReview = document.getElementById('question-id-'+questionId);
        markForReview.classList.add("mark-selected");
    }
    function markVisited(questionId) { // visited but unattempted
        let markForReview = document.getElementById('question-id-'+questionId);
        markForReview.classList.add("mark-visited");
    }

    function nextQ(questionId, sno) {
        let selectedOptionId;
        if (document.querySelector("input[name=" + CSS.escape(questionId) + '-option' + "]:checked")) {
            selectedOptionId = document.querySelector("input[name=" + CSS.escape(questionId) + '-option' + "]:checked").value;
            let csrf = $('input[name=csrfmiddlewaretoken]').val();

            // Mark tile selected
            // Save to db.
            markSelected(questionId);
            let myData = {
                questionId: questionId,
                selectedOptionId: selectedOptionId,
                csrfmiddlewaretoken: csrf
            }
            // Save response only if any option is selected.
            $.ajax({
                type: 'POST',
                url: '{% url 'save-user-response' %}',
                data: myData,
                success: function (data) {
                    if (data.status === 'Save') {
                    }
                }
            })
        } else {
            let qId = document.getElementsByClassName("tile-" + sno).val;
            markVisited(questionId);
        }
        let currentQ = parseInt(sno);
        let nextQ = currentQ + 1;

        document.getElementById('qid-' + questionId).hidden = true;
        let qId = document.querySelector("#qid-by-tile-" + nextQ).value;
        document.getElementById('qid-' + parseInt(qId)).removeAttribute("hidden");
    }


    $(".save-and-next").click(function () {
        let questionId = $(this).attr('data-sid');
        alert(questionId)
        // Mark tile selected
        markSelected(questionId);

        let selectedOptionId = null;
        let csrf = $('input[name=csrfmiddlewaretoken]').val();

        // call nextQ to update UI for next question
        let sno = $('input[name=snoName]').val();
        sno = parseInt(sno);
        nextQ(questionId, sno);

        if (document.querySelector("input[name=" + CSS.escape(questionId) + '-option' + "]:checked")) {
            selectedOptionId = document.querySelector("input[name=" + CSS.escape(questionId) + '-option' + "]:checked").value;

            let myData = {
                questionId: questionId,
                selectedOptionId: selectedOptionId,
                csrfmiddlewaretoken: csrf
            }
            // Save response only if any option is selected.
            $.ajax({
                type: 'POST',
                url: '{% url 'save-user-response' %}',
                data: myData,
                success: function (data) {
                    if (data.status === 'Save') {
                    }
                }
            })
        }
    })
</script>