{% extends 'create-exam/plain_base.html' %}
{% load static %}

{% block disable_right_click %}oncontextmenu="return false;"{% endblock %}
{% block disable_select_text %}onselectstart="return false"{% endblock %}

{% block title %}
    Siksha - Preview
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'create_exam/home.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'create_exam/exam_live.js' %}"></script>
{% endblock %}

{% block timefield %}
{% endblock %}

{% block css %}
    .modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(9px) grayscale(90%);
    }

    .mark-selected {
    background-color: #33b864;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;

    }
    .mark-visited {
    background-color: #ff7f7f;
    }
    .mark-for-review {
    background-color: #ff3f4f;
    }
    .mark-current-tile {
    color: #ff7f7f;
    background-color: #374f6b;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    }
    #time-remaining {
    width: 80px;
    text-align: center;
    height: 45px;
    }
    .scrollbar-thin {
    scrollbar-width: thin;
    overflow-y: scroll;
    }

{% endblock %}

{% block body %}
    {% include 'preview/sound/exam-sound.html' %}

    <div class="supreme-container container">
        <div class="row mt-4">
            {% include 'create-exam/content/instructions.html' %}
            {% include 'preview/screen/fullscreen.html' %}

{#            <div id="action-buttons" class="col-md-7 m-sm-auto order-md-2">#}
            <div id="action-buttons" class="col-md-7 mt-3 order-md-3">
                {% for question in questions %}
                    <form method="post" name="question-response-form" id="question-response-form">
                        {% csrf_token %}
                        <input type="hidden" name="questionIdName" id="questionId" value="{{ question.id }}">
                        <input type="hidden" name="snoName" id="sno" data-sid="{{ forloop.counter }}">
                        <div id="qid-{{ question.id }}" hidden class="questions">
                            {# Used by get `OneQuestionAtATime` funtion #}
                            <input class="currentQuestion" id="{{ question.id }}" type="hidden"
                                   value="{{ question.id }}">

                            <div class="d-flex align-items-start flex-column">
                                <div class="mb-auto p-1">
                                    <div class="">
                                        <div class="d-flex justify-content-start">
                                            <span class="serial-no">{{ forloop.counter }}. </span>
                                            <h5 style="color: #7b666d">{{ question.question }}</h5>
                                        </div>
                                        <ul class="question-tag">
                                            {% for option in question.questionoption_set.all %}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                           name="{{ question.id }}-option"
                                                           id="{{ question.id }}-option-{{ forloop.counter }}"
                                                           value="{{ option.id }}">
                                                    <label class="form-check-label"
                                                           for="{{ question.id }}-option-{{ forloop.counter }}">
                                                        {{ option.option }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="gap-1 p-md-3 ml-auto d-md-block">
                                    <input class="btn btn-outline-primary btn-sm" type="button" value="Clear">
                                    <input class="btn btn-outline-warning btn-sm" type="button" value="Mark for review">
                                    <input class="btn btn-outline-info btn-sm save-and-next-q"
                                           data-sid="{{ question.id }}"
                                           type="button"
                                           value="Save & Next">
                                </div>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </div>

            {# Using below line to save duration in db#}
            <input type="hidden" value="{{ exam.duration }}" id="duration">


            <div class="col-md-4 m-sm-auto rounded order-md-4 mb-0">
                <div class="mb-3 mt-3 col-12 justify-content-center d-flex">
                    <span class="p-2">Time Remaining: <span id="time-remaining"
                                                            class="ms-auto rounded border border-2 border-danger p-2">0:00:00</span></span>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#submit-modal">
                        Submit Test
                    </button>
                </div>

                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" aria-current="true">
                        Quantitative Reasoning
                    </a>
                    <a class="p-0 list-group-item">
                        <div style="overflow-x: hidden" class="scrollbar-thin row tileBox">
                            <div>
                                {% for ques in exam.examquestion_set.all %}
                                    <input id="question-{{ ques.id }}" style="margin: 2px"
                                           class="question-tile text-center border p-3 pl-1 pr-1 col-2 col-md-2"
                                           data-sid="{{ ques.id }}"
                                           type="button" value="{{ forloop.counter }}">


                                    {# removing the below button is breaking the code functionality. #}
                                    <button hidden id="question-id-{{ ques.id }}"
                                            class="question-{{ forloop.counter }} tile-{{ forloop.counter }} questionTile border p-3 text-center col-4 col-md-2"
                                            value="{{ forloop.counter }}">{{ forloop.counter }} {{ ques.id }}</button>
                                    <input type="hidden" id="qid-by-tile-{{ forloop.counter }}" value="{{ ques.id }}">
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>

    {% include 'preview/js/functions.html' %}
    {% include 'preview/js/fullscreen.html' %}

    <!-- fullscreen modal kept outside for more blur-->
    <div class="warning-modal modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                </div>
                <div class="modal-body">
                    You will be disqualified from this exam if you exit fullscreen multiple times.
                </div>
                <div class="modal-footer">
                    <button id="fullscreen-closer" type="button" class="btn-sm btn btn-danger"
                            data-bs-dismiss="modal">I
                        understand
                    </button>
                    <button id="fullscreen-enabler" onclick="autoFullScreen()" type="button"
                            class="btn-sm btn btn-primary">Back to Fullscreen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--  Basic instructions with blur effect -->
    <div class="warning-modal modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="basic-instructions" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="basic-instructions">View in Fullscreen mode</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You must be in Fullscreen mode to give this exam. Click on I agree to continue.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="autoFullScreen()" type="button" class="btn-sm btn btn-primary">I agree</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Submit exam-->
    <div class="modal fade" id="submit-modal" tabindex="-1" aria-labelledby="submit-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submit-modal-label">End Exam</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to end exam?
                </div>
                <div class="modal-footer">
                    <form action="{% url 'submit-exam' exam.id %}" method="post" name="submit-exam">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Go Back</button>

                        <input type="hidden" name="has-finished" value="True">
                        <input type="time" hidden name="exam-duration">
                        <input type="submit" class="btn btn-danger btn-sm" value="End Exam">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}