<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
<form method="post" id="task-form">
    {% csrf_token %}
    <input type="text" placeholder="Enter Task" name="task" id="task" required>
    <button onclick="checkAndSave()" type="submit">Save</button>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    function checkAndSave() {
        window.alert("WOW");
        return "Success!";
    }
    $(document).on('submit','#task-form',function(e){
        let str = checkAndSave();
        window.alert(str);
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "save-response" %}',
            data:
                {
                    // task:$("#task").val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                }
            //     ,
            // success:function(){
            //    alert('Saved');
            // }
        })
    });
</script>

</body>
</html>
