{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'create_exam/home.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}

    <style>
        html, body {
        {#background-color: #fbf9ff;#} font-size: 17px;
        }

        .active {
            color: rgba(171,45,0,0.57);
        }

        .navbar-brand {
            color: bisque;
        }

        {% block style %}{% endblock %}
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light small p-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Siksha</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-3">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block home %}{% endblock %}" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block contact %}{% endblock %}" href="#">Contact</a>
                    </li>

                </ul>
            </div>

            <div class="col-5">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block take_a_demo_exam %}{% endblock %}" aria-current="page"
                           href="{% url 'exam' %}">Take
                            a Demo Exam</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% block settings %}{% endblock %}" href="#"
                           id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    <li class="ms-auto">
                        {% if user.is_authenticated %}
                            <div class="border border-danger nav-link rounded">{{ request.user.username }}</div>
                            {% else %}
                            <div class="border border-danger nav-link rounded">Login/Signup</div>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
</nav>

<div class="body">
    {% block body %}{% endblock %}
</div>

{% block js %}{% endblock %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>