<div class="col-md-1 order-md-1 mb-4">
    <a class="btn btn-outline-info" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
       aria-controls="offcanvasExample">
        <i class="bi bi-blockquote-left"></i>
    </a>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
         aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Instructions:</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
            <div>
                <ul>
                    <li>Read each question carefully.</li>
                    <li>You cannot skip a question. You must provide an answer to each question to proceed
                        with the test.
                    </li>
                    <li>Once answered, you cannot go back to a question. You will be given an opportunity to
                        review questions at the end of the test.
                    </li>
                    <li>If you exit the test, you will not be able to resume your place in the test. You
                        will have to start from the beginning.
                    </li>
                    <li>There may be tools available (i.e., glossary, calculator, etc.) to help you answer
                        the questions. You can access this information by clicking in the tools bar that may
                        be located above the questions.
                    </li>
                    <li>There may be support information that is required to answer the questions. You can
                        access this information by clicking on "Show Support Information" located in the
                        question box.
                    </li>
                    <li>Your test will not be timed. You can take as much time as you need to complete this
                        test. Please keep in mind, however, that the actual test that you take to gain
                        employment with the County of Los Angeles will be timed.
                    </li>
                    <li>This practice test was designed to build upon a basic understanding of the subject
                        area being tested. It was not intended to serve as the sole instruction method or
                        initial exposure to the subject area. Instead, it should serve as a refresher
                        mechanism in your examination preparation. If more in-depth training is required,
                        visit the Local Resources section of this site to locate colleges and organizations
                        that may provide additional training.
                    </li>
                    <li>For more detailed instructions, please visit our System Overview section.</li>
                    <li>This test is only a guide. The test questions that you complete during your actual
                        employment test may vary in format, content, and level of difficulty.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>